:host{
    .mat-dialog-content {
    // margin: 10px 0;
    // text-align: center;
    }
    .mat-dialog-title {
        text-align: center;
    }
    .mat-dialog-actions {
        display: block;
        text-align: center;
    }
    button:focus{
        outline: none;
    }
    .mat-raised-button{
        width: 100px;
    }
    .invalid-feedback{
        display: block;
    }
    ::ng-deep .add-job-attributes{
        font-size: 30px !important;
        color: skyblue !important;
        cursor: pointer !important;
    }
    .form-group{
        i{
            color : red;
            cursor: pointer;
            padding-left: 4px; 
            font-size: 30px;
        }
    }
    
}