<h3 mat-dialog-title>
  <span *ngIf="!dataToEdit.hasOwnProperty('_id')">Add Items</span>
  <span *ngIf="dataToEdit.hasOwnProperty('_id')">Update Item</span>
</h3>

<div mat-dialog-content class="py-2">
  <form [formGroup]="jobAttrForm" (ngSubmit)="onSubmit(f)">
    <div formArrayName="items" *ngFor="let item of jobAttrForm.get('items').controls; let i = index;">
      <div [formGroupName]="i">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="d-flex justify-content-between align-items-center">
                <input type="text" class="form-control" formControlName="name" placeholder="Name" [ngClass]="{ 'is-invalid': submitted && jobAttrForm.get('items').controls[i].name.errors }">
                <i *ngIf="jobAttrForm.get('items').controls.length > 1" class="material-icons" (click)="removeItem(i)">clear</i>
              </div>
              <div *ngIf="submitted && jobAttrForm.get('items').controls[i].name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">This field is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<span *ngIf="!dataToEdit.hasOwnProperty('_id')">
  <i class="material-icons add-job-attributes" (click)="addItem('Added')">add_circle_outline</i>
</span>

<div mat-dialog-actions>
  <button mat-button mat-raised-button color="primary" *ngIf="!dataToEdit.hasOwnProperty('_id')" (click)="onSubmit(f)"
    [disabled]="jobAttrForm.invalid">Save</button>
  <button mat-button mat-raised-button color="primary" *ngIf="dataToEdit.hasOwnProperty('_id')" (click)="onUpdate(f)"
    [disabled]="jobAttrForm.invalid">Update</button>
</div>