:host{
    button:focus {
        outline: none;
    }
    button {
        width:120px;
        padding: 2px 5px;
        font-size: 15px;
    } & i {  
        font-size: 17px;
        padding-bottom: 3px;
        padding-right: 5px;
    }
    label{
        font-weight: 500;
    }
    .loader{
        background: #f0f3f575 ;
        top:0px;
    }
}