:host{
    .chips{
        min-width: 120px;
        padding: 10px;
    }

    .chips > i{
        cursor: pointer;
    }

    .action-buttons{
        top: 40px;
        right: 10px;
    }
     mat-chip-list {
       mat-chip{
           span{
               cursor: pointer;
               padding-right: 10px;
           }
       }
   }
   mat-card-title{
       font-size: 14px;
       font-weight: 500;
   }
    button:focus {
        outline: none !important;
    }
}
