<div class="card-body">
  <mat-card class="example-card p-0">
    <mat-card-header class="bg-light">
      <mat-card-title class="mb-0 p-2">
        Job Traders
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex justify-content-between p-4">
      <mat-chip-list>
        <mat-chip *ngFor="let jobTrade of jobTraders; let i = index;" class="chips pl-3 justify-content-between">
          {{jobTrade.jobTrade}} <i class="material-icons" (click)="removeRoomLevel(i)">highlight_off</i>
        </mat-chip>
      </mat-chip-list>
      <button mat-mini-fab color="primary" (click)="addRoomLevel('Added')">
        <i class="material-icons">add</i>
      </button>
    </mat-card-content>
  </mat-card>
</div>