:host{
    ::ng-deep{
        table {
            width: 100%;
            thead{
                background: aliceblue !important;
            }
        }
    }
  th.mat-sort-header-sorted {
    color: black;
  }
  ::ng-deep button:focus{
      outline: none !important;
  }
  
  
}