:host {
    ::ng-deep .chartjs-tooltip{
        display: none;
    }   
    .brand-card-header{
        cursor: pointer;
        height: 200px;
    }
    .loader{
        background: #f0f3f582 ;
        position: absolute;
        top:1px;
        width: 85% !important;
        z-index: 99;
    }
    
}