<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
    [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
    [sidebarToggler]="'lg'">
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="javascript:" routerLink="/admin/dashboard">Dashboard</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <a href="javascript:" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
    </ul>
</app-header>
<div class="app-body">
    <app-sidebar [fixed]="true" [display]="'lg'">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <!-- Main content -->
    <main class="main">
        <div class="container-fluid my-4">
            <router-outlet></router-outlet>
        </div>
    </main>

</div>
<app-footer>
    <span><a href="javascript:"></a> &copy; 2018.</span>
    <span class="ml-auto">Powered by <a href="https://coreui.io/angular">Angular</a></span>
</app-footer>