<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="my-2">
                        <i class="fa fa-align-justify"></i> {{jobData?.jobTitle | titlecase}}
                    </div>
                </div>
                <div class="card-body p-0">
                    <mat-tab-group class="mat-elevation-z8">
                        <mat-tab label="Basic Details">
                            <mat-list>
                                <mat-list-item>Property Type: {{jobData?.propertyType | titlecase}}</mat-list-item>
                                <mat-list-item>Job Location: {{jobData?.jobLocation | titlecase}}</mat-list-item>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Add Room">
                            <mat-list class="pt-5">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">S.No</th>
                                                <th scope="col">Detail</th>
                                                <th scope="col">Room</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of jobData?.addRoom; let i=index">
                                                <th scope="row">{{i}}</th>
                                                <td>{{data?.details | titlecase}}</td>
                                                <td>{{data?.Room }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </mat-list>
                        </mat-tab>
                        <mat-tab label="Line Height"> {{jobData?.lineHeight | json}} </mat-tab>
                        <mat-tab label="GEO"> {{jobData?.geo | json}}</mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>