<div class="app-body">
    <main class="main d-flex align-items-center m-0">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mx-auto">
                    <mat-card class="mat-elevation-z8 p-0">
                        <div class="card-group">
                            <div class="card p-3">
                                <div class="card-body">
                                    <div class="text-center pb-3">
                                        <img src="assets/img/brand/logo.png" alt="" width="100" class="pb-4">
                                        <!-- <h1>Login</h1> -->
                                        <p class="text-muted">Sign In to your account</p>
                                    </div>
                                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-user"></i></span>
                                            </div>
                                            <input type="email" class="form-control" placeholder="Username"
                                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && lf.email.errors }">
                                            <div *ngIf="submitted && lf.email.errors" class="invalid-feedback">
                                                <div *ngIf="lf.email.errors.required">Email is required</div>
                                                <div *ngIf="lf.email.errors.email">Email must be a valid email address</div>
                                            </div>
                                        </div>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-lock"></i></span>
                                            </div>
                                            <input type="password" class="form-control" placeholder="Password"
                                                formControlName="password" [ngClass]="{ 'is-invalid': submitted && (lf.password.errors) }">
                                            <div *ngIf="submitted && lf.password.errors" class="invalid-feedback">
                                                <div *ngIf="lf.password.errors.required">Password is required</div>
                                                <div *ngIf="lf.password.errors.minlength">Password must be at least 6
                                                    characters</div>
                                            </div>
                                        </div>
                                        <p *ngIf="error" class="alert alert-danger" role="alert">{{errorMessage}}</p>
                                        <div class="row">
                                            <div class="col-6">
                                                <button mat-raised-button color="primary" type="submit" class="px-4 w-100">Login</button>
                                                <!-- <button type="submit" class="btn btn-primary px-4">Login</button> -->
                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </main>
</div>

<app-loader *ngIf="loader"></app-loader>