:host{
    .chips{
        min-width: 120px;
        padding: 10px;
    }

    .chips > i{
        cursor: pointer;
    }

    .action-buttons{
        top: 40px;
        right: 10px;
    }
    button:focus {
        outline: none;
    }
   mat-chip-list {
       mat-chip{
           span{
               cursor: pointer;
           }
       }
   }
   mat-card-title{
       font-size: 14px;
       font-weight: 500;
   }
    button:focus {
        outline: none !important;
    }
    .form-group{
        i{
            color : red;
            cursor: pointer;
            padding-left: 10px; 
        }
    }
}
