// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.font-size-14px{
    font-size: 14px !important;
}

.font-size-16px{
    font-size: 16px !important;
}

.overflow-x-auto{
    overflow-x:auto;
}


a.bg-danger,
button.bg-danger {
    @extend button.bg-danger:hover
};

a.bg-success, 
button.bg-success{
    @extend button.bg-success:hover
}

.form-control:focus{
    border: none;
}
.ongoing{
    background: orange;
}
.completed{
    background: green
}
.posted{
    background: skyblue
}
.inactive{
    background: gray
}
.font-size-12px{
    font-size:12px;
}